{% extends 'core/base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
<a href="{% url 'add_project' %}">➕ Add Project</a>

<ul>
    {% for project in projects %}
    <li class="list-card">
        <a href="{% url 'edit_project' project.id %}" class="card-link" style="
            display: block;
            width: 100%;
            height: 100%;
            color: inherit;
            text-decoration: none;
            padding: 15px;
        ">
            {{ project.name }}
            {% if project.image %}
                <br><img src="{{ project.image.url }}" width="150">
            {% endif %}
        </a>
        <a href="{% url 'delete_project' project.id %}" class="delete-btn">❌ Delete</a>
    </li>
    {% empty %}
    <li>No projects yet.</li>
    {% endfor %}
</ul>
{% endblock %}
